
<div class="login-container">
        <div class="login-form">
       
        <div class="error-msg">
            {{msg}}
        </div>
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" id="" [(ngModel)]="usrname" class="form-control">
        </div>
        <div class="form-group">
            <label for="psword">Password</label>
            <input type="password" name="psword" id="" [(ngModel)]="pswd" class="form-control">
        </div>
        <div class="btn-container">
            <button (click)="login()" class="btn btn-success btn-lg">Login</button>
        </div>
    </div>
</div>
