.movies-container {
    width: 100%;
    height: 100vh;
    margin-left: 400px;
    margin-top: 50px;
    width: 800px;
    height: 720px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 20px darkgray;
}

h1 {
    text-align: center;
}